<h1>Hi there ,{{username}}</h1>
<p>Welcome to our app, we excited to have you on board</p>
<p>To verify your email please click on the link button below </p>
<a href={{verificationLink}} class='verification-link'>verify your email</a>