<section>
  <h1>
    Hi there ,{{username}}
  </h1>
  <p>
    Welcome to our app, we excited to have you on board
  </p>
  <p>
    To verify your email please copy the code below
  </p>
  <span class="verification-code">
    {{verificationCode}} 
  </a>
</section>