<h1>Hi there ,{{username}}</h1>
<p>I got a request to rest the password of our account </p>
<p>To reset your password please copy or enter the code below</p>
<span class="reset-code">
  {{resetCode}}
</span>