    <h1>Hi there ,{{username}}</h1>
    <p>I got a request to rest the password of our account </p>
    <p>To reset your password click on the reset link</p>
    <a href={{resetLink}} class='reset-password-link'>Reset Password</a>