h1 {
  font-weight: bold;
  font-size: 24px;
}

.verification-link,
.reset-password-link {
  padding: 1.5rem 2rem;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  -ms-border-radius: 0.15rem;
  -o-border-radius: 0.15rem;
  border-radius: 0.15rem;
  outline: none;
  background: rgb(99 102 241 / 2);
  color: #fff;
}
